<div class="item">
  <div>Nome do Livro</div>
  <div>
    <input type="text" name="titulo" value="{{book.titulo}}">
  </div>
</div>

<div class="item">
  <div>Autor
  </div>
  <div>
    <input type="text" name="autor" value="{{book.autor}}">
  </div>
</div>

<div class="item">
  <div>Editora
  </div>
  <div>
    <input type="text" name="editora" value="{{book.editora}}">
  </div>
</div>

<div class="item">
  <div>Area
  </div>
  <div>
    <input type="text" name="area" value="{{book.area}}">
  </div>
</div>

<button type="submit" submit="submit">Salvar</button>